### لاراول ###
/vendor/
/.idea/
/.vscode/
/.fleet/
/.nova/
/.zed/
Homestead.json
Homestead.yaml
.env
.env.backup
.env.production
.env.local
.env.testing
.phpunit.result.cache
.phpunit.cache
.phpactor.json
auth.json
/public/storage
/public/hot
/public/build
/storage/*.key
/storage/pail
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/framework/testing/
!/storage/framework/.gitkeep
!/storage/logs/.gitkeep

### React / Node ###
/node_modules/
/bootstrap/ssr/
/public/hot
/public/build
/resources/js/actions/
/resources/js/routes/
/resources/js/wayfinder/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
/.pnpm-store/

### کامپایلر ها ###
/public/css/
/public/js/
/mix-manifest.json
/vite.config.js

### محیط توسعه ###
.DS_Store
Thumbs.db
*.log
*.sql
*.sqlite
*.sqlite3
*.bak
*.swp
*.swo
*~
*.patch
*.tmp
*.temp
/coverage/
/coverage-html/
/.php-cs-fixer.cache
/.phpunit.cache/

### IDE ها ###
/.vscode/
/.idea/
/.fleet/
/.nova/
/.zed/
.project
.classpath
.settings/
.netbeans/

### سیستم عامل ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
