### لاراول ###
/vendor/
/.idea/
/.vscode/
/.fleet/
/.nova/
/.zed/
Homestead.json
Homestead.yaml
.env
.env.backup
.env.production
.env.local
.env.testing
.phpunit.result.cache
.phpunit.cache
.phpactor.json
auth.json
/public/storage
/public/hot
/public/build

# Ignore all storage except required folders
/storage/*
!/storage/app/
/storage/app/*
!/storage/app/public/
!/storage/framework/
!/storage/framework/cache/
!/storage/framework/sessions/
!/storage/framework/views/
!/storage/framework/testing/
!/storage/logs/

# Ignore contents but allow gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep

/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep

/storage/framework/views/*
!/storage/framework/views/.gitkeep

/storage/framework/testing/*
!/storage/framework/testing/.gitkeep

/storage/logs/*
!/storage/logs/.gitkeep


### React / Node ###
/node_modules/
/bootstrap/ssr/
/public/hot
/public/build
/resources/js/actions/
/resources/js/routes/
/resources/js/wayfinder/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
/.pnpm-store/

### کامپایلر ها ###
/public/css/
/public/js/
/mix-manifest.json

### محیط توسعه ###
.DS_Store
Thumbs.db
*.log
*.sql
*.sqlite
*.sqlite3
*.bak
*.swp
*.swo
*~
*.patch
*.tmp
*.temp
/coverage/
/coverage-html/
/.php-cs-fixer.cache/
/.phpunit.cache/

### IDE ها ###
.project
.classpath
.settings/
.netbeans/

### سیستم عامل ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
desktop.ini
